@charset "UTF-8";
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

.main__contenedor--tex {
  position: absolute;
  top: 150px;
  left: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .main__contenedor--tex {
    top: 100px;
    font-size: 2rem;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card-body {
  background-color: #f3610c;
}

.card-group .card-body-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.redirec {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

.main__contenedor--tex {
  position: absolute;
  top: 150px;
  left: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .main__contenedor--tex {
    top: 100px;
    font-size: 2rem;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card-body {
  background-color: #f3610c;
}

.card-group .card-body-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.redirec {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

.nosotros {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nosotros__img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url("../imgPrincipal/nosotrosportada.jpg");
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/nosotrosportada.jpg");
}

.nosotros__tex {
  position: absolute;
  top: 150px;
  left: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 320px) {
  .nosotros__tex {
    top: 100px;
  }
}

.nosotros__tex--titulo {
  color: white;
  font-size: 3rem;
  letter-spacing: 2rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .nosotros__tex--titulo {
    top: 50px;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    padding-top: 1rem;
  }
}

.presentacion {
  padding-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  margin: 0%;
}

.presentacion_parrafo {
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  color: black;
}

@media screen and (max-width: 768px) {
  .presentacion_parrafo {
    font-size: 1rem;
  }
}

.btn {
  color: black;
  background-color: #acadaf;
  padding: 1rem;
  margin-left: 15rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
  .btn {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    margin-left: 4rem;
    padding: 0.5rem;
  }
}

.btn:hover {
  background-color: #6c6d6e;
  color: white;
}

.nosotros__carrusel {
  border-radius: 15px;
  height: auto;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

.fondo {
  background-color: #6c6d6e94;
}

.fondo__p {
  color: black;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.offcanvas-header {
  background-color: #f3610c;
}

.offcanvas-header__tit {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 320px) {
  .offcanvas-header__tit {
    font-size: 1rem;
  }
}

.offcanvas-body {
  background-color: white;
}

.offcanvas-body--texto {
  color: black;
  font-size: 1rem;
}

.offcanvas-body--off {
  width: 360px;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

@media screen and (max-width: 320px) {
  .offcanvas-body--off {
    width: 280px;
    height: auto;
  }
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

.main__contenedor--tex {
  position: absolute;
  top: 150px;
  left: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .main__contenedor--tex {
    top: 100px;
    font-size: 2rem;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card-body {
  background-color: #f3610c;
}

.card-group .card-body-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.redirec {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

.carta {
  padding-top: 8rem;
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url("../imagenesMenu/sandwich.jpg");
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imagenesMenu/sandwich.jpg");
  width: 100%;
  height: 400px;
}

.carta__p {
  text-align: center;
  font-size: 3rem;
  color: white;
  letter-spacing: 1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.carta__contenedor {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.carta__contenedor .btn-secundary {
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
  padding: 0%;
}

.carta__contenedor .btn-secundary:hover {
  background-color: #f3610c;
}

.btn-secundary:hover .carta__contenedor__subtitulo {
  color: white;
}

.carta__contenedor .btn {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .carta__contenedor {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.carta__contenedor .modal-header {
  background-color: #f3610c;
  color: white;
}

.carta__contenedor .modal-header #pizza {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 320px) {
  .carta__contenedor .modal-header #pizza {
    letter-spacing: 0%;
    font-size: 1.5rem;
  }
}

.carta__contenedor .modal-header #hamburguesaslabel {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 320px) {
  .carta__contenedor .modal-header #hamburguesaslabel {
    letter-spacing: 0%;
    font-size: 1rem;
  }
}

.carta__contenedor .modal-header #sandwichlabel {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 320px) {
  .carta__contenedor .modal-header #sandwichlabel {
    letter-spacing: 0%;
    font-size: 1.5rem;
  }
}

.carta__contenedor .modal-header #alPlatolabel {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 320px) {
  .carta__contenedor .modal-header #alPlatolabel {
    letter-spacing: 0%;
    font-size: 1.5rem;
  }
}

.carta__contenedor .modal-header #picadalabel {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 320px) {
  .carta__contenedor .modal-header #picadalabel {
    letter-spacing: 0%;
    font-size: 1.5rem;
  }
}

.carta__contenedor .modal-header #tostadolabel {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 320px) {
  .carta__contenedor .modal-header #tostadolabel {
    letter-spacing: 0%;
    font-size: 1.5rem;
  }
}

.carta__contenedor .modal-header .carritoModal {
  color: white;
}

.carta__contenedor .modal-body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imagenesMenu/alplato.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imagenesMenu/alplato.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.carta__contenedor .modal-body .card-text {
  color: white;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.carta__contenedor .modal-body .card-precio {
  color: white;
  font-size: 1rem;
  text-align: right;
}

.carta__contenedor .modal-footer {
  background-color: #f3610c;
}

.carta__contenedor .modal-footer__spam {
  color: white;
}

.carta__contenedor .modal-footer__wsp {
  color: white;
}

.carta__contenedor .modal-footer__boton {
  background-color: #f3610c;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px;
  border: none;
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

.main__contenedor--tex {
  position: absolute;
  top: 150px;
  left: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .main__contenedor--tex {
    top: 100px;
    font-size: 2rem;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card-body {
  background-color: #f3610c;
}

.card-group .card-body-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.redirec {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

.contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.contenedor__img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

.contenedor__tex {
  position: absolute;
  top: 35%;
  margin-left: 18%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .contenedor__tex {
    top: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 920px) {
  .contenedor__tex {
    margin-left: 10%;
  }
}

.contenedor__tex--titulo {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .contenedor__tex--titulo {
    font-size: 2rem;
  }
}

.card {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
  padding: 1rem;
}

.card-body-title {
  color: #f3610c;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.card-body-text {
  font-size: 1rem;
  color: black;
  font-family: "Open Sans", sans-serif;
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

.main__contenedor--tex {
  position: absolute;
  top: 150px;
  left: 1rem;
  right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .main__contenedor--tex {
    top: 100px;
    font-size: 2rem;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card-body {
  background-color: #f3610c;
}

.card-group .card-body-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.redirec {
  color: #252525;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

.redes {
  padding-top: 6rem;
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url("../imgPrincipal/fondoContacto2.jpg");
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/fondoContacto2.jpg");
  width: 100%;
  height: 400px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.redes__p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: "Lato", sans-serif;
}

.redes__span {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #f3610c;
  padding: 0 1rem;
  font-family: "Lato", sans-serif;
}

.main__contacto {
  display: block;
  padding: 1rem;
  color: white;
  width: 100%;
}

.main__contacto__formulario {
  border-radius: 15px;
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url("../imgPrincipal/fondoContacto2.jpg");
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/fondoContacto2.jpg");
  -webkit-box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
          box-shadow: -7px 7px 14px #949393, 7px -7px 14px #aaa9a9;
}

.main__contacto__formulario__titulo {
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.main__contacto__formulario__name {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2rem;
}

.main__contacto__formulario__name--item {
  color: white;
  width: 80%;
  font-family: "Lato", sans-serif;
}

.main__contacto__formulario .formulario__sucursal {
  margin: 2rem;
  font-size: 1.5rem;
  color: white;
  font-family: white;
  font-family: "Open Sans", sans-serif;
}

.main__contacto__formulario .formulario__sucursal__label {
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__contacto__formulario .formulario__sucursal__label {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .main__contacto__formulario .formulario__sucursal__label {
    width: 100%;
  }
}

.main__contacto__formulario .formulario__sucursal__label--option {
  background-color: white;
  color: white;
}

.main__contacto__formulario .formulario__calif {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 1.5rem;
}

.main__contacto__formulario .formulario__calif .form-label {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.main__contacto__formulario .formulario__calif .boton {
  background-color: #555151;
  margin-right: 2rem;
  color: black;
  padding: 0.5rem;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

@media screen and (max-width: 320px) {
  .main__contacto__formulario .formulario__calif .boton {
    margin: 0%;
  }
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.footer {
  display: inline;
  width: 100%;
  color: white;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 1rem;
  }
}

.footer__icono {
  text-align: center;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3610c;
  color: white;
}

.footer__ancor {
  color: #f3610c;
}

.footer__redes {
  color: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
  .footer__redes {
    font-size: 1rem;
  }
}

.footer__img {
  width: 30px;
  height: 30px;
  margin: 0.3rem;
}

.footer__address {
  color: white;
  font-size: 0.8rem;
  text-align: end;
  margin-right: 0.5rem;
  background-color: #f3610c;
  padding-bottom: 1rem;
}

.footer__address address {
  margin: 0;
  /*estilizando un elemento de html*/
}

@media screen and (max-width: 768px) {
  .footer__address {
    text-align: center;
  }
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*tamaño de titulo de portada*/
/*width*/
/*height*/
/*fuente googlefond*/
.sectionNav {
  background-color: #f3610c;
}

.sectionNav__ancor {
  color: #f3610c;
}

.sectionNav__item {
  background-color: #f3610c;
}

.sectionNav__item--seccion {
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: 0%;
  color: white;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 320px) {
  .sectionNav__item--seccion {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .sectionNav__item--seccion {
    padding-top: 1rem;
  }
}

.sectionNav__item--seccion:hover {
  color: black;
}

.sectionNav .sectionNav__ico {
  color: white;
}

.sectionNav__logo {
  color: white;
  font-size: 2.5rem;
  margin-left: 2rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .sectionNav__logo {
    font-size: 2.5rem;
    margin: 0;
  }
}

.sectionNav__redes {
  color: white;
  margin-top: 1rem;
  margin-right: 1rem;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */