@charset "UTF-8";
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #f3610c;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card .card-body {
  background-color: #f3610c;
}

.card-group .card .card-body .card-title {
  color: white;
  text-align: center;
}

.redirec {
  font-size: 2rem;
  padding-top: 1rem;
  color: #f3610c;
  text-align: center;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #f3610c;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card .card-body {
  background-color: #f3610c;
}

.card-group .card .card-body .card-title {
  color: white;
  text-align: center;
}

.redirec {
  font-size: 2rem;
  padding-top: 1rem;
  color: #f3610c;
  text-align: center;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

.nosotros {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nosotros__img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url("../imgPrincipal/nosotrosportada.jpg");
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/nosotrosportada.jpg");
}

.nosotros__tex {
  position: absolute;
  top: 150px;
  left: 2rem;
  right: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 320px) {
  .nosotros__tex {
    top: 50px;
  }
}

.nosotros__tex--titulo {
  color: white;
  font-size: 3rem;
  letter-spacing: 2rem;
}

@media screen and (max-width: 320px) {
  .nosotros__tex--titulo {
    top: 200px;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nosotros__tex--titulo {
    top: 50px;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    padding-top: 1rem;
  }
}

.presentacion {
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentacion_parrafo {
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .presentacion_parrafo {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.btn {
  color: black;
  background-color: #acadaf;
  padding: 1rem;
  margin-left: 15rem;
  font-size: 1rem;
}

@media screen and (max-width: 320px) {
  .btn {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    margin-left: 4rem;
    padding: 0.5rem;
  }
}

.btn:hover {
  background-color: #6c6d6e;
  color: white;
}

.nosotros__carrusel {
  border-radius: 15px;
  height: auto;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

.fondo {
  background-color: #6c6d6e94;
}

.fondo__item {
  color: black;
  font-size: 3rem;
}

.fondo__p {
  color: white;
  font-size: 1.5rem;
}

.offcanvas-header {
  background-color: #f3610c;
}

.offcanvas-header__tit {
  color: white;
}

@media screen and (max-width: 320px) {
  .offcanvas-header__tit {
    font-size: 1rem;
  }
}

.offcanvas-body {
  background-color: white;
}

.offcanvas-body--texto {
  color: black;
}

.offcanvas-body--off {
  width: 360px;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

@media screen and (max-width: 320px) {
  .offcanvas-body--off {
    width: 280px;
    height: auto;
  }
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #f3610c;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card .card-body {
  background-color: #f3610c;
}

.card-group .card .card-body .card-title {
  color: white;
  text-align: center;
}

.redirec {
  font-size: 2rem;
  padding-top: 1rem;
  color: #f3610c;
  text-align: center;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

/*los estilos de la seccion carta los traigo con import y otros los manipule directamente desde
bootstrap*/
.carta {
  padding-left: 2rem;
  padding-right: 2rem;
}

.carta .btn-secundary {
  -webkit-box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
          box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
  background-color: #1e1e22;
  border-color: #1e1e22;
}

.carta .btn-secundary:hover {
  background-color: #6c6d6e;
  border-color: #1e1e22;
}

.carta .btn-secundary:hover h3 {
  color: black;
}

.carta .btn {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.carta .modal-header {
  background-color: #1e1e22;
  color: white;
}

.carta .modal-header #pizza {
  font-size: 2rem;
  letter-spacing: 10px;
}

.carta .modal-header #hamburguesaslabel {
  font-size: 1rem;
  letter-spacing: 5px;
}

.carta .modal-header #sandwichlabel {
  font-size: 2rem;
  letter-spacing: 5px;
}

.carta .modal-header #alPlatolabel {
  font-size: 2rem;
  letter-spacing: 5px;
}

.carta .modal-header #picadalabel {
  font-size: 2rem;
  letter-spacing: 10px;
}

.carta .modal-header #tostadolabel {
  font-size: 2rem;
  letter-spacing: 5px;
}

.carta .carritoModal {
  text-align: right;
}

.carta .modal-body {
  background-image: url(../imagenesMenu/sandwich.jpg);
}

.card-text {
  color: white;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.274);
}

.card-precio {
  color: white;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.274);
  text-align: right;
}

.modal-footer {
  background-color: #1e1e22;
}

.modal-footer .spam {
  color: white;
}

.modal-footer .wsp {
  width: 40px;
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #f3610c;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card .card-body {
  background-color: #f3610c;
}

.card-group .card .card-body .card-title {
  color: white;
  text-align: center;
}

.redirec {
  font-size: 2rem;
  padding-top: 1rem;
  color: #f3610c;
  text-align: center;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

.eventos__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.eventos__contenedor .eventos__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.eventos__contenedor .eventos__tex {
  position: absolute;
  top: 20%;
  margin-left: 28%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .eventos__contenedor .eventos__tex {
    top: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 920px) {
  .eventos__contenedor .eventos__tex {
    margin-left: 10%;
  }
}

.eventos__contenedor .eventos__tex h2 {
  font-size: 2rem;
  color: black;
  font-size: 3rem;
}

@media screen and (max-width: 320px) {
  .eventos__contenedor .eventos__tex h2 {
    font-size: 2rem;
  }
}

.eventos {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 2rem;
}

.eventos__card {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
          box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
  background-color: #1e1e22;
}

.eventos__card .card-body .card-title {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.eventos__card .card-body .card_texto {
  font-size: 1rem;
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.main {
  background-color: white;
}

.main__subtitulo {
  color: #f3610c;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 320px) {
  .main__subtitulo {
    padding: 1rem;
  }
}

.main__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  contain: content;
}

.main__contenedor--img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../imgPrincipal/principalIindex2.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);
}

@media screen and (max-width: 320px) {
  .main__contenedor {
    margin-top: 0%;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
  }
}

/*clases de bootstrap*/
.card-group {
  padding: 1rem;
}

.card-group .card {
  margin: 1rem;
}

.card-group .card .card-body {
  background-color: #f3610c;
}

.card-group .card .card-body .card-title {
  color: white;
  text-align: center;
}

.redirec {
  font-size: 2rem;
  padding-top: 1rem;
  color: #f3610c;
  text-align: center;
}

.redirec__maps {
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px #f3610c;
          box-shadow: 0 4px 8px #f3610c;
}

.redes {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.redes__iconos {
  background-image: url(../imagenesMenu/pizza-gf11bc2b89_640.jpg);
  text-align: center;
  border: solid 2px white;
  height: 200px;
  padding: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
          box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
}

.redes__iconos .redes__iconos--P {
  color: black;
  font-size: 1.2rem;
}

.main__contacto {
  display: block;
  padding: 1rem;
  color: white;
  width: 100%;
}

.main__contacto .main__formulario {
  border-radius: 15px;
  padding: 1rem;
  background-image: url(../imgPrincipal/fondoContacto2.jpg);
  -webkit-box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
          box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
}

.main__contacto .main__formulario .main__titulo {
  text-align: center;
  font-size: 2rem;
}

.main__contacto .main__formulario .formulario__name {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.main__contacto .main__formulario .formulario__name .formulario__name--item {
  color: black;
  width: 80%;
}

.main__contacto .main__formulario .formulario__sucursal {
  margin: 2rem;
  font-size: 1.5rem;
  color: white;
}

.main__contacto .main__formulario .formulario__sucursal .formulario__labelaction {
  width: 20%;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
          box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
}

@media screen and (max-width: 768px) {
  .main__contacto .main__formulario .formulario__sucursal .formulario__labelaction {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .main__contacto .main__formulario .formulario__sucursal .formulario__labelaction {
    width: 100%;
  }
}

.main__contacto .main__formulario .formulario__sucursal .formulario__labelaction .formulario__label--option {
  background-color: #1e1e22;
  color: white;
}

.main__contacto .main__formulario .formulario__calif {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 1.5rem;
}

.main__contacto .main__formulario .formulario__calif .form-label {
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 5px;
  padding: 5px;
}

.main__contacto .main__formulario .formulario__calif .boton {
  background-color: #1e1e22;
  -webkit-box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
          box-shadow: 0 4px 8px rgba(189, 186, 186, 0.712);
  margin-right: 2rem;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
}

@media screen and (max-width: 320px) {
  .main__contacto .main__formulario .formulario__calif .boton {
    margin: 0%;
  }
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.footer {
  display: inline;
  width: 100%;
  color: white;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 1rem;
  }
}

.footer__icono {
  text-align: center;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3610c;
  padding-top: 1rem;
}

.footer__icono--a {
  color: #f3610c;
}

@media screen and (max-width: 320px) {
  .footer__icono {
    font-size: 1rem;
  }
}

.footer__img {
  width: 30px;
  height: 30px;
  margin: 0.3rem;
}

.footer__address {
  color: white;
  font-size: 0.8rem;
  text-align: end;
  margin-right: 0.5rem;
  background-color: #f3610c;
  padding-bottom: 1rem;
  /*estilizando un elemento de html*/
}

.footer__address address {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__address {
    text-align: center;
  }
}

/*color de fuente*/
/*color de fuente*/
/*es el tamaño de varios que ocupo mas*/
/*color de fondo*/
/*tamaño general, vale para padding, margin, fuentes, etc */
/*los bordes de todas mis images para darle luz y volumen*/
.sectionNav {
  background-color: #f3610c;
}

.sectionNav__item {
  background-color: #f3610c;
}

.sectionNav__item--seccion {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: white;
  padding: 0%;
}

@media screen and (max-width: 320px) {
  .sectionNav__item--seccion {
    padding-top: 1rem;
  }
}

.sectionNav__logo {
  color: white;
  font-size: 3rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
  .sectionNav__logo {
    font-size: 2.5rem;
    margin: 0;
  }
}

.sectionNav__redes {
  color: white;
  margin-top: 1rem;
  margin-right: 1rem;
}

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 1s linear infinite both;
  animation: vibrate-1 1s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */