@import "./parciales/variables";
@import "./parciales/main";
@import "./parciales/nosotros";
@import "./parciales/carta";
@import "./parciales/bebidas";
@import "./parciales/eventos";
@import "./parciales/contacto";
@import "./parciales/footer";
@import "./parciales/media";
@import "./parciales/nav";
@import "./parciales/animation";




* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;

}