@import"./variables";
@import "./main";
@import "./media";

.carta {
    padding-top: 8rem;
    color: $fondo;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imagenesMenu/sandwich.jpg");
    width: $w;
    height: $h;

    &__p {
        text-align: center;
        font-size: $portada;
        color: $fondo;
        letter-spacing: $medida;
        font-family: $open;
        text-transform: uppercase;

    }



    &__contenedor {
        margin-bottom: 2rem;
        margin-right: 2rem;

    


        .btn-secundary {
            box-shadow: $shadow;
            background-color: $fondo;
            font-family: $open;
            margin: $medida;
            padding: 0%;


        }

        .btn-secundary:hover {
            background-color: $contraste;

        }

        .btn-secundary:hover &__subtitulo {
            color: $fondo;

        }

        .btn {
            transition: all 0.5s;

        }

        @include tablet{
            justify-content: center;
          
        }

        .modal-header {
            background-color: $contraste;
            color: $fondo;



            #pizza {
                font-size: 2rem;
                letter-spacing: 5px;
                font-family: $open;

                @include movil {
                    letter-spacing: 0%;
                    font-size: 1.5rem;
                }
            }

            #hamburguesaslabel {
                font-size: 2rem;
                letter-spacing: 5px;
                font-family: $open;

                @include movil {
                    letter-spacing: 0%;
                    font-size: 1rem;
                }
            }

            #sandwichlabel {
                font-size: 2rem;
                letter-spacing: 5px;
                font-family: $open;

                @include movil {
                    letter-spacing: 0%;
                    font-size: 1.5rem;
                }
            }

            #alPlatolabel {
                font-size: 2rem;
                letter-spacing: 5px;
                font-family: $open;

                @include movil {
                    letter-spacing: 0%;
                    font-size: 1.5rem;
                }
            }

            #picadalabel {
                font-size: 2rem;
                letter-spacing: 5px;
                font-family: $open;

                @include movil {
                    letter-spacing: 0%;
                    font-size: 1.5rem;
                }
            }

            #tostadolabel {
                font-size: 2rem;
                letter-spacing: 5px;
                font-family: $open;

                @include movil {
                    letter-spacing: 0%;
                    font-size: 1.5rem;
                }

            }

            .carritoModal {
                color: $fondo;
            }
        }




        .modal-body {
            background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imagenesMenu/alplato.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            object-fit: cover;


            .card-text {
                color: $fondo;
                font-size: 1.2rem;
                font-family: $open;


            }

            .card-precio {
                color: $fondo;
                font-size: $medida;
                text-align: right;

            }



        }


        .modal-footer {
            background-color: $contraste;

            &__spam {
                color: $fondo;
            }

            &__wsp {
                color: $fondo;
            }

            &__boton {
                background-color: $contraste;
                padding: 0.5rem;
                font-family: $open;
                border-radius: 15px;
                border: none;



            }

        }


    }

}