@import"./variables";
@import "./main";
@import "./media";

/*los estilos de la seccion carta los traigo con import y otros los manipule directamente desde
bootstrap*/
.carta{

&__titulo{
    text-align: center;
}

&__contenedor {
    padding-left: 2rem;
    padding-right: 2rem;
    

    .btn-secundary {
        box-shadow: 0 4px 8px rgb(243, 97, 12);
        background-color:white;
        margin: 0%;
        border: 0ch;



    }

    .btn-secundary:hover {

        background-color: rgb(243, 97, 12);
        

    }

    .btn-secundary:hover &__subtitulo {
        color:white;

    }

    .btn {
        transition: all 0.5s;
        
    }

    .modal-header {
        background-color: rgb(243, 97, 12);
        color: white;

        #pizza {
            font-size: 2rem;
            letter-spacing: 10px;
        }

        #hamburguesaslabel {
            font-size: 1rem;
            letter-spacing: 5px;

        }

        #sandwichlabel {
            font-size: 2rem;
            letter-spacing: 5px;
        }

        #alPlatolabel {
            font-size: 2rem;
            letter-spacing: 5px;
        }

        #picadalabel {
            font-size: 2rem;
            letter-spacing: 10px;
        }

        #tostadolabel {
            font-size: 2rem;
            letter-spacing: 5px;
        }
    }

    .carritoModal {
        text-align: right;
        color: white;
        


    }


    .modal-body {

        background-image: url(../imagenesMenu/sandwich.jpg);




    }



}

.card-text {
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.274);


}

.card-precio {
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.274);
    text-align: right;

}

.modal-footer {
    background-color: rgb(243, 97, 12);

    .spam {
        color: white;
    }

    .wsp {
    color: white;
    }
}
 }