@import"./variables";
@import "./main";
@import "./media";

.carta {
    padding-top: 8rem;
    color: $fondo;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), 
    rgba(12, 12, 12, 0.6)), 
    url("https://res.cloudinary.com/lorenacoder/image/upload/v1636844310/morenaweb/imagenesMenu/pizza-gf11bc2b89_640_xk9tqu.jpg");
    width: $w;
    height: $h;

    &__p {
        text-align: center;
        font-size: $portada;
        color: $fondo;
        letter-spacing: $medida;
        font-family: $open;
        text-transform: uppercase;

    }
    &__sb {
        text-align: center;
        font-size: 2rem;
        color: $fondo;
        font-family: $open;
        text-transform: uppercase;
        padding: 2rem;
        letter-spacing: $medida;
     &--tragos{
         color: $fondo;
         text-decoration: none;
        
     }
     &--tragos:hover{
         color:$fuente;
         
     }
    }
  
 }

  .menu{
      text-align: center;
      font-family: $open;
      color: black;
      text-decoration: none;
       &__titulo{
           margin-top: $medida;
           
       }
            
  }

  .menu:hover{
    color: $contraste;
    
    }
  

.text{
    text-align: center;
    color: $fuente;
    font-family: $open;
    
}

    
   

   .precio{
    border-bottom: solid 1px $fuente;
    width: 350px;
    height: auto;
    
    @include movil{
        width: $w;

     }
     @include notebook{
        width: $w;
      }
     
    .precio__carta{
        display: flex;
       flex-direction: row;
       justify-content: space-between;
       padding: 1rem;
        .precio__titulo{
            text-align: center;
            color: $contraste;
            font-size: 1.5rem;
            font-family: $open;
   
           
        }

        .precio__icono{
            color:$fuente;
        }
    }

    .precio__costo{
        text-align:center;
        font-family: $open;
        font-size: 1.5rem;
        color: $fuente;
    }
}  
.precio:hover{
    background-color: $contraste;
    color: $fondo;
    border-radius: 15px;
    
    .precio__titulo{
        color: $fondo;
    }

    .precio__icono{
        color: $fondo;
    }
}

.pie{
    border-radius: 15px;
    width: 350px;
    padding: 2rem;
    
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: $contraste;
    text-align: center;
    
    @include movil{
        width: 100%;

     }
     @include notebook{
        width: 100%;
      }

    &__titulo{
        color:$fondo;
    }
    &__logo{
        color:$fondo;
    }
    .pie__logo:hover{
        color:$fuente;
    }
    &__boton{
    
    color: $fuente;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    font-family:$open;
    
   
    }
   .pie__boton:hover{
        background-color: $fondo;
        color: $fuente;
        
    }
   
}
