@import "./variables";
@import "./main";
@import "./media";


.redes {
    color: $color;
    text-align: center;
    font-size: 1.8rem;

}

.redes__iconos {
    background-image: url(../imagenesMenu/pizza-gf11bc2b89_640.jpg);
    text-align: center;
    border: solid 2px $color;
    height: 200px;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: $shadow;

    .redes__iconos--P {
        color: $fuente;
        font-size: 1.2rem;

    }
}

.main__contacto {
    display: block;
    padding: 1rem;
    color: $color;
    width: 100%;




    .main__formulario {
        border-radius: 15px;
        padding: 1rem;
        background-image: url(../imgPrincipal/fondoContacto2.jpg);
        box-shadow: $shadow;

        .main__titulo {
            text-align: center;
            font-size: 2rem;
        }

        .formulario__name {
            color: $fuente;
            text-align: center;
            font-size: 1.5rem;


            .formulario__name--item {
                color: $fuente;
                width: 80%;
            }
        }

        .formulario__sucursal {
            margin: 2rem;
            font-size: 1.5rem;
            color: $color;


            .formulario__labelaction {
                width: 20%;
                text-align: center;
                box-shadow: $shadow;

                @include tablet {
                    width: 100%;
                }

                @include movil {
                    width: 100%;
                }


                .formulario__label--option {
                    background-color: $fondo;
                    color: $color;

                }
            }

        }

        .formulario__calif {
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $fuente;
            font-size: 1.5rem;

            .form-label {

                background-color: rgba(255, 255, 255, 0.527);
                border-radius: 5px;
                padding: 5px;
            }

            .boton {
                background-color: $fondo;
                box-shadow: $shadow;
                margin-right: 2rem;
                color: $color;
                padding: 0.5rem;
                border-radius: 15px;

                @include movil {
                    margin: 0%;
                }
            }
        }

    }
}