@import "./variables";
@import "./main";
@import "./media";


.redes {
    padding-top: 6rem;
    color: $fondo;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/fondoContacto2.jpg");
    width: $w;
    height: $h;
    font-family: $open;
    text-transform: uppercase;


    &__p {
        text-align: center;
        font-size: 1.5rem;
        color: $fondo;
        font-family: $lato;


    }

}

.redes__span {
    width: $w;
    color: $fondo;
    text-align: center;
    background-color: $contraste;
    padding: 0 1rem;
    font-family: $lato;


}


.main__contacto {
    display: block;
    padding: $medida;
    color: $fondo;
    width: $w;






    &__formulario {
        border-radius: 15px;
        padding: $medida;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        object-fit: cover;
        background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/fondoContacto2.jpg");
        box-shadow: $shadow;

        &__titulo {
            text-align: center;
            font-size: 2rem;
            font-family: $open;
            text-transform: uppercase;
        }

        &__name {
            color: $fondo;
            text-align: center;
            font-size: 1.5rem;
            font-family: $open;
            letter-spacing: 0.2rem;


            &--item {
                color: $fondo;
                width: 80%;
                font-family: $lato;

            }
        }

        .formulario__sucursal {
            margin: 2rem;
            font-size: 1.5rem;
            color: $fondo;
            font-family: $fondo;
            font-family: $open;




            &__label {
                width: 20%;
                text-align: center;


                @include tablet {
                    width: $w;
                }

                @include movil {
                    width: $w;
                }


                &--option {
                    background-color: $fondo;
                    color: $fondo;

                }
            }

        }

        .formulario__calif {
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $fuente;
            font-size: 1.5rem;

            .form-label {
                padding: 5px;
                font-family: $open;
                color: $fondo;
            }

            .boton {
                background-color: rgb(85, 81, 81);
                margin-right: 2rem;
                color: $fuente;
                padding: 0.5rem;
                border-radius: 15px;
                font-family: $open;
                color: $fondo;

                @include movil {
                    margin: 0%;
                }
            }
        }

    }
}