@import"./variables";
@import "./main";
@import "./media";





.contenedor {
  position: relative;
  display: flex;
  text-align: center;
  contain: content;




  &__img {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);




  }

  &__tex {
    position: absolute;
    top: 35%;
    margin-left: 18%;
    justify-content: center;
    border-radius: 15px;
    display: flex;





    @include movil {
      top: 10%;
      margin-right: 10%;


    }

    @include notebook {
      margin-left: 10%;

    }

    &--titulo {
      font-size: $portada;
      color: $fondo;
      letter-spacing: 0.5rem;
      font-family: $open;
      text-transform: uppercase;


      @include movil {
        font-size: 2rem;
      }
    }
  }


}


.card {

  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  background: $fondo;
  box-shadow: $shadow;
  padding: $medida;



  &-body {

    &-title {
      color: $contraste;
      text-align: center;
      font-size: 2rem;
      font-family: $open;
    }

    &_texto {
      font-size: $medida;
      color: $fuente;
      font-family: $open;
    }
  }
}