@import"./variables";
@import "./main";
@import "./media";



.evento__titulo {
  text-align: center;
  color: black;
}

.contenedor {
  position: relative;
  display: flex;
  text-align: center;
  contain: content;




  &__img {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);




  }

  &__tex {
    position: absolute;
    top: 35%;
    margin-left: 20%;
    justify-content: center;
    border-radius: 15px;
    display: flex;




    @include movil {
      top: 10%;
      margin-right: 10%;


    }

    @include notebook {
      margin-left: 10%;

    }

    &--titulo {
      font-size: 3rem;
      color: white;
      letter-spacing: 0.5rem;


      @include movil {
        font-size: 2rem;
      }
    }
  }


}


.card {

  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  -7px 7px 14px #c7c6c6, 
             7px -7px 14px #ffffff;
  background-color: white;
  padding: 1rem;

  &-body {

    .card-title {
      color: rgb(243, 97, 12);
      text-align: center;
      font-size: 2rem;
      font-family: 'Open Sans', sans-serif;
    }

    .card_texto {
      font-size: 1rem;
      color: black;
      font-family: 'Open Sans', sans-serif;
    }
  }
}