@import"./variables";
@import "./main";
@import "./media";



.eventos__contenedor {
  position: relative;
  display: flex;
  text-align: center;
  contain: content;




  .eventos__img {
    width: 100%;
    height: 400px;
    object-fit: cover;



  }

  .eventos__tex {
    position: absolute;
    top: 20%;
    margin-left: 28%;
    justify-content: center;
    border-radius: 15px;
    display: flex;



    @include movil {
      top: 10%;
      margin-right: 10%;


    }

    @include notebook {
      margin-left: 10%;

    }

    h2 {
      font-size: 2rem;
      color: $fuente;
      ;
      font-size: 3rem;

      @include movil {
        font-size: 2rem;
      }
    }
  }


}

.eventos {
  color: $color;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 2rem;


}

.eventos__card {

  height: 100%;
  object-fit: cover;
  box-shadow: $shadow;
  background-color: $fondo;

  .card-body {

    .card-title {
      color: $color;
      text-align: center;
      font-size: 2rem;
    }

    .card_texto {
      font-size: 1rem;
    }
  }
}