 @import "./variables";

 .footer {
     display: inline;
     width: 100%;
     color: $fondo;

     @include movil {
         font-size: $medida;
     }

     &__icono {
         text-align: center;
         font-size: $medida;
         align-items: center;
         background-color: $contraste;
         color: $fondo;


     }

     &__ancor {
         color: $contraste;
     }

     &__redes {
         color: $fondo;
         margin-right: $medida;
         margin-bottom: $medida;

         @include movil {
             font-size: $medida;
         }
     }


     &__img {
         width: 30px;
         height: 30px;
         margin: 0.3rem;

     }


     &__address {
         color: $fondo;
         font-size: 0.8rem;
         text-align: end;
         margin-right: 0.5rem;
         background-color: $contraste;
         padding-bottom: $medida;

         address {
             margin: 0;
             /*estilizando un elemento de html*/
         }



         @include tablet {
             text-align: center;
         }
     }
 }