 @import "./variables";

 .footer{
     display: inline;
     width: 100%;
     color: white;
     
     
    
     @include movil {
        font-size: 1rem;
    }
     &__icono {
         text-align: center;
         font-size: $rem;
         align-items: center;
         background-color:rgb(243, 97, 12);
         padding-top: 1rem;
         
         &--a{
           color:rgb(243, 97, 12);
         }

         @include movil {
             font-size: $rem;
         }
        
     }

     &__img {
         width: 30px;
         height: 30px;
         margin: 0.3rem;
        
     }
    

     &__address {
         color: white;
         font-size: 0.8rem;
         text-align: end;
         
         margin-right: 0.5rem;
         background-color: rgb(243, 97, 12);
         

         @include tablet {
             text-align: center;
         }
     }
 }
  