 @import "./variables";

 .footer__padre {
     display: inline;
     width: 100%;


     hr {
         background-color: rgb(98, 96, 96);
         height: 0.5rem;
         width: 100%;
         margin: 0%;

     }

     .footer__icono {
         text-align: center;
         font-size: $rem;
         color: $color;
         align-items: center;
         background-color: rgb(46, 45, 45);


         @include movil {
             font-size: $rem;
         }
     }

     .footer__img {
         width: 30px;
         height: 30px;
         margin: 0.3rem;

     }

     a {
         color: $fondo;
     }

     .footer__address {
         color: $color;
         font-size: 0.8rem;
         text-align: end;
         padding-bottom: 0.5rem;
         margin-right: 0.5rem;
         background-color: rgb(46, 45, 45);
         ;

         @include tablet {
             text-align: center;
         }
     }
 }