 @import "./variables";

 .footer{
     display: inline;
     width: 100%;
     color: white;
    
     @include movil {
        font-size: 1rem;
    }
     &__icono {
         text-align: center;
         font-size: $rem;
         align-items: center;
         background-color:rgb(243, 97, 12);
         color: white;
         
        
        }

    &__ancor{
        color:rgb(243, 97, 12);
    }    
    &__redes{
            color:white;
            margin-right: 1rem;
            margin-bottom: 1rem;
           
              @include movil {
                  font-size: $rem;
              }  
          } 
       

     &__img {
         width: 30px;
         height: 30px;
         margin: 0.3rem;
        
     }
    

     &__address {
         color: white;
         font-size: 0.8rem;
         text-align: end;
         margin-right: 0.5rem;
         background-color: rgb(243, 97, 12);
         padding-bottom: 1rem;
         address{
          margin: 0;/*estilizando un elemento de html*/
         } 

         

         @include tablet {
             text-align: center;
         }
     }
 }
  