@import "./variables";
@import "./media";



.main {
    background-color: $fondo;



    &__subtitulo {
        color: rgb(37, 37, 37);
        font-size: 2rem;
        font-family: $lato;
        text-align: center;
        padding-top: $medida;




        @include movil {
            padding: $medida;

        }

    }

    &__contenedor {
        position: relative;
        display: flex;
        text-align: center;
        contain: content;



        &--img {
            width: $w;
            height: $h;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            object-fit: cover;
            background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../imgPrincipal/principalIindex2.jpg);


        }

        @include movil {
            margin-top: 0%;
            font-size: $portada;
            padding: 0%;
            text-align: center;

        }

        &--tex {
            position: absolute;
            top: 150px;
            left: $medida;
            right: $medida;
            justify-content: center;
            color: $fondo;
            font-size: $portada;
            font-family: $open;
            text-transform: uppercase;

            @include movil {
                top: 100px;
                font-size: 2rem;


            }
        }
    }


}

/*clases de bootstrap*/
.card-group {
    padding: $medida;

    .card {
        margin: $medida;


        &-body {
            background-color: $contraste;

            &-title {
                color: $fondo;
                text-align: center;
                font-family: $open;
                font-size: 1.5rem;
            }
        }
    }
}



.redirec {
    color: rgb(37, 37, 37);
    font-size: 2rem;
    font-family: $lato;
    text-align: center;
    padding-top: $medida;


    &__maps {
        width: $w;
        height: $h;
        align-items: center;
        object-fit: contain;
        border-radius: 15px;
        background: $fondo;
        box-shadow: $shadow;



    }
}