@import "./variables";
@import "./media";


.sectionNav {
  background-color: $contraste;

  &__ancor {
    color: $contraste;
  }

  &__item {
    background-color: $contraste;





    &--seccion {
      font-size: 1.2rem;
      margin-right: $medida;
      padding: 0%;
      color: $fondo;
      font-family: $lato;




      @include movil {
        padding-top: $medida;
      }

      @include tablet {
        padding-top: $medida;
      }
    }

    &--seccion:hover {
      color: $fuente;
    }
  }


  .sectionNav__ico {
    color: $fondo;

  }



  &__logo {
    color: $fondo;
    font-size: 2.5rem;
    margin-left: 2rem;
    font-family: $open;
    text-transform: uppercase;

    @include movil {
      font-size: 2.5rem;
      margin: 0;
    }

  }


  &__redes {
    color: $fondo;
    margin-top: $medida;
    margin-right: $medida;

  }

}