@import "./variables";
@import "./main";
@import "./media";





.nosotros {
    position: relative;
    display: flex;
    text-align: center;
   

    &__img {
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        object-fit: cover;
        background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/nosotrosportada.jpg");

    }

    &__tex {
        position: absolute;
        top: 150px;
        left: 2rem;
        right: 2rem;
        justify-content: center;

        @include movil {
            top: 50px;

        }

        &--titulo {
            color: white;
            font-size: 3rem;
            letter-spacing: 2rem;

            @include movil {
                top: 200px;
                font-size: 2rem;
                text-align: center;
                letter-spacing: 1rem;

            }

            @include tablet {
                top: 50px;
                font-size: 2rem;
                letter-spacing: 0.8rem;
                padding-top: 1rem;

            }
        }


    }
}

.presentacion {
    padding: 1rem;
    justify-content: center;


    &_parrafo {
        padding: 1rem;
        font-size: 1.5rem;
        align-items: center;


        @include tablet {
            font-size: 1rem;
            padding: 0.5rem;
        }


    }
}

.btn {
    color: black;
    background-color: #acadaf;
    padding: 1rem;
    margin-left: 15rem;
    font-size: 1rem;

    @include movil {
        margin-left: 4rem;
    }

    @include tablet {
        margin-left: 4rem;
        padding: 0.5rem;
    }

    &:hover {
        background-color: #6c6d6e;
        color: white;

    }

}

.nosotros__carrusel {
    border-radius: 15px;
    height: auto;
    box-shadow: 0 4px 8px rgb(243, 97, 12);


}



.fondo {
    background-color: #6c6d6e94;

    &__item {
        color: $fuente;
        font-size: 3rem;

    }

    &__p {
        color: $color;
        font-size: 1.5rem;
    }

}

.offcanvas {

    &-header {
        background-color: rgb(243, 97, 12);

        &__tit {
            color: $color;

            @include movil {
                font-size: 1rem;
            }
        }



    }

    &-body {
        background-color: white;

        &--texto {
            color: black;
        }

        &--off {
            width: 360px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgb(243, 97, 12);

            @include movil {
                width: 280px;
                height: auto;
            }
        }
    }
}