@import "./variables";
@import "./main";
@import "./media";





.nosotros {
    position: relative;
    display: flex;
    text-align: center;
    


    &__img {
        width: $w;
        height: $h;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        object-fit: cover;
        background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url("../imgPrincipal/nosotrosportada.jpg");

    }

    &__tex {
        position: absolute;
        top: 150px;
        left:1rem;
        right: 1rem;
        justify-content: center;

        @include movil {
            top:100px;
           

        }

        &--titulo {
            color: $fondo;
            font-size:$portada;
            letter-spacing: 2rem;
            font-family: $open;
            text-transform: uppercase;

           
            @include tablet {
                top: 50px;
                font-size: 2rem;
                letter-spacing: 0.8rem;
                padding-top: 1rem;

            }
        }


    }
}

.presentacion {
    padding-bottom: $medida;
    justify-content: center;
    padding: 2rem;
    margin: 0%;
    


    &_parrafo {
    
        font-size: 1.5rem;
        align-items: center;
        font-family: $open;
        color: $fuente;

        @include tablet {
            font-size: $medida;
         
        }


    }
}

.btn {
    color: $fuente;
    background-color: #acadaf;
    padding: $medida;
    margin-left: 15rem;
    font-size: $medida;
    margin-bottom: 1rem;
    

    @include movil {
        margin-left: 4rem;
    }

    @include tablet {
        margin-left: 4rem;
        padding: 0.5rem;
    }

    &:hover {
        background-color: #6c6d6e;
        color: $fondo;

    }

}

.nosotros__carrusel {
    border-radius: 15px;
   
    height: auto;
    background:$fondo;
    box-shadow:$shadow;
   


}



.fondo {
    background-color: #6c6d6e94;

   

    &__p {
        color: $fuente;
        font-size: 1.5rem;
        font-family:$open;
    }

}

.offcanvas {

    &-header {
        background-color:$contraste;

        &__tit {
            color:$fondo;
            font-family:$open;
            font-size: 1.5rem;


            @include movil {
                font-size: $medida;
            }
        }



    }

    &-body {
        background-color:$fondo;

        &--texto {
            color: $fuente;
            font-size:$medida;
        }

        &--off {
            width: 360px;
            height: auto;
            border-radius: 10px;
            box-shadow: $shadow;

            @include movil {
                width: 280px;
                height: auto;
            }
        }
    }
}