$contraste: rgb(243, 97, 12);
/*color de fuente*/
$fuente: black;
/*color de fuente*/
$fondo: white;
/*es el tamaño de varios que ocupo mas*/
$medida: 1rem;
/*tamaño general, vale para padding, margin, fuentes, etc */
$shadow: -7px 7px 14px #949393,
7px -7px 14px #aaa9a9;
/*los bordes de todas mis images para darle luz y volumen*/
$portada:3rem;
/*tamaño de titulo de portada*/
$w:100%;
/*width*/
$h:400px;
/*height*/
$open:'Open Sans',
sans-serif;
/*fuente googlefond*/
$lato:'Lato',
sans-serif;