@import "./variables";
@import "./media";


.main__padre {
    background-color: $fondo;
  
    

    .main__redes {
        width: 30px;
        height: 30px;
        margin: 0.5rem;



    }

    h2 {
        color: $color;
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;



        @include movil {
            padding: $rem;

        }



    }

    p {
        font-family: 'Open Sans', sans-serif;
        color: $color;
        text-align: center;
        font-size: 1.2rem;
        padding: 0 1rem;

        @include movil {
            font-size: 1rem;


        }


    }

    .main__imagen {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 0 5px 5px cornsilk;
      
       
       
        @include movil {
            height: auto;

        }
    }
}

h3 {
    color: $color;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;


}